#!/bin/sh
# config script for portmap

set -e

action=$1
version=$2
CONFFILE=/etc/default/portmap

# Only make debconf questions if 
# a) the CONFFILE exists 

if [ -e $CONFFILE ] ; then
	# Source debconf library.
	. $CONFFILE || true

	. /usr/share/debconf/confmodule

	# and b) has the expected content
	expected=1

	if [ "$OPTIONS" = "-i 127.0.0.1" ]; then
		db_set portmap/loopback true
		expected=0
        elif [ -z "$OPTIONS" ] ; then
		expected=0
		db_set portmap/loopback false
	fi

	if [ "$expected" -eq 0 ] ; then
		db_input medium portmap/loopback || true
	fi
	db_go || true
fi



exit 0
